dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Работы</title><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"><a class="navbar-brand" href="https://moodle.innopolis.university/course/view.php?id=549"><img src="assets/logo.png" height="20" loading="lazy" alt="logo"></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="https://docs.google.com/spreadsheets/d/1wC3Is10HYfx4HUC4sVWZM2tW3__L7i_AnD2pxNmy0E4/edit#gid=0" target="_blank" rel="noopener noreferrer">Автодеплой</a></li>
          <li class="nav-item"><a class="nav-link" href="assets/lp_movie.psd">Макет</a></li>
          <li class="nav-item"></li><a class="nav-link" href="https://moodle.innopolis.university/course/view.php?id=549" target="_blank" rel="noopener noreferrer">Moodle</a>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="row">
            <h1>Ниже представлены работы студентов</h1>
          </div>
          <div class="row">
            <p>Данная галерея обновляется автоматически после выполнения команды git push и попадания вашего код в git репозиторий указанный в списке <a href="https://docs.google.com/spreadsheets/d/1wC3Is10HYfx4HUC4sVWZM2tW3__L7i_AnD2pxNmy0E4/edit#gid=0" target="_blank" rel="noopener noreferrer">автодеплой </a><span>Убедитесь что вы правильно указали ссылку на ваш репозиторий. И как только напротив вашей строкки появляется надпись готово - всё готово. Ваша работа будет доступна в этой галерее и по соответствующей ссылке. </span>
              <button class="btn btn-light" type="button" data-toggle="popover" data-title="Внимание" data-content="Интервал перекладки составляет около 10 минут." data-placement="top">!</button>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col">
          <ul class="accordion" id="students-works">
            <li class="card">
              <div class="card-header" id="student-1">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-1" aria-expanded="false" aria-controls="body-1">Aleksander Erashov</button>
                </h2>
              </div>
              <div class="collapse" id="body-1" aria-labelledby="student-1" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/AleksErv" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/AleksErv" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="student-2">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-2" aria-expanded="false" aria-controls="body-2">Aleksei Sirotiuk</button>
                </h2>
              </div>
              <div class="collapse" id="body-2" aria-labelledby="student-2" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/peso47" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/peso47" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="student-3">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-3" aria-expanded="false" aria-controls="body-3">Alexander Rogozhnikov</button>
                </h2>
              </div>
              <div class="collapse" id="body-3" aria-labelledby="student-3" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/alexj21" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/alexj21" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="student-4">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-4" aria-expanded="false" aria-controls="body-4">Almira Tolstova</button>
                </h2>
              </div>
              <div class="collapse" id="body-4" aria-labelledby="student-4" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/almira" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/almira" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="student-5">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-5" aria-expanded="false" aria-controls="body-5">Elina Khabibulina</button>
                </h2>
              </div>
              <div class="collapse" id="body-5" aria-labelledby="student-5" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/elina" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/elina" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="student-6">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-6" aria-expanded="false" aria-controls="body-6">Evgeniy Krivtsov</button>
                </h2>
              </div>
              <div class="collapse" id="body-6" aria-labelledby="student-6" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/rumata" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/rumata" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="student-7">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-7" aria-expanded="false" aria-controls="body-7">Gulnaz Sakhapova</button>
                </h2>
              </div>
              <div class="collapse" id="body-7" aria-labelledby="student-7" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/gulnaz" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/gulnaz" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="student-8">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-8" aria-expanded="false" aria-controls="body-8">Halim Latypov</button>
                </h2>
              </div>
              <div class="collapse" id="body-8" aria-labelledby="student-8" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/halim" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/halim" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="student-9">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-9" aria-expanded="false" aria-controls="body-9">Ignat Simonenko</button>
                </h2>
              </div>
              <div class="collapse" id="body-9" aria-labelledby="student-9" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/ig" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/ig" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="student-10">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-10" aria-expanded="false" aria-controls="body-10">Mark Smagin</button>
                </h2>
              </div>
              <div class="collapse" id="body-10" aria-labelledby="student-10" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/dwolf" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/dwolf" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="student-11">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-11" aria-expanded="false" aria-controls="body-11">Pavel Trapeznikov</button>
                </h2>
              </div>
              <div class="collapse" id="body-11" aria-labelledby="student-11" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/thetrapeznikov" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/thetrapeznikov" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="student-12">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-12" aria-expanded="false" aria-controls="body-12">Roman Buzmakov</button>
                </h2>
              </div>
              <div class="collapse" id="body-12" aria-labelledby="student-12" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/romyl1990" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/romyl1990" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="student-13">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-13" aria-expanded="false" aria-controls="body-13">Rustam Safiullin</button>
                </h2>
              </div>
              <div class="collapse" id="body-13" aria-labelledby="student-13" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/rustam" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/rustam" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="student-14">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-14" aria-expanded="false" aria-controls="body-14">Timofey Kataev</button>
                </h2>
              </div>
              <div class="collapse" id="body-14" aria-labelledby="student-14" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/tim23" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/tim23" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="student-15">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-15" aria-expanded="false" aria-controls="body-15">Violetta Dubskaya</button>
                </h2>
              </div>
              <div class="collapse" id="body-15" aria-labelledby="student-15" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/vita22" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/vita22" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="student-16">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-16" aria-expanded="false" aria-controls="body-16">Yuliya Suetnova</button>
                </h2>
              </div>
              <div class="collapse" id="body-16" aria-labelledby="student-16" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/juliyaAA" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/juliyaAA" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="student-18">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-18" aria-expanded="false" aria-controls="body-18">Валерия Тихонова</button>
                </h2>
              </div>
              <div class="collapse" id="body-18" aria-labelledby="student-18" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/valeriya_t" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/valeriya_t" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
            <li class="card">
              <div class="card-header" id="student-19">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#body-19" aria-expanded="false" aria-controls="body-19">Рузиля Волкова</button>
                </h2>
              </div>
              <div class="collapse" id="body-19" aria-labelledby="student-19" data-parent="#students-works">
                <div class="card-body"><a class="btn btn-primary mb-4" href="http://89.223.91.151:82/popcorn" target="_blank" rel="noopener noreferrer">Перейти</a>
                  <div class="shadow p-3 mb-5 bg-white rounded">
                    <iframe class="frame" src="http://89.223.91.151:82/popcorn" frameborder="0"></iframe>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div><!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="assets/main.js"></script>
  </body>
</html>

templates/index.pug
doctype html
html(lang="ru")
  head
    title Работы
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    link(rel="stylesheet", href="css/main.css")

  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="https://moodle.innopolis.university/course/view.php?id=549")
        img(src="assets/logo.png", height="20", loading="lazy", alt="logo")

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      .collapse.navbar-collapse#navbarNav
        ul.navbar-nav
          li.nav-item
            a.nav-link(href="https://docs.google.com/spreadsheets/d/1wC3Is10HYfx4HUC4sVWZM2tW3__L7i_AnD2pxNmy0E4/edit#gid=0", target="_blank", rel="noopener noreferrer") Автодеплой
          li.nav-item
            a.nav-link(href="assets/lp_movie.psd") Макет
          li.nav-item
          a.nav-link(href="https://moodle.innopolis.university/course/view.php?id=549", target="_blank", rel="noopener noreferrer") Moodle
    .container
      .row
        .col
          .row
            h1 Ниже представлены работы студентов
          .row
            p Данная галерея обновляется автоматически после выполнения команды git push и попадания вашего код в git репозиторий указанный в списке 
              a(href="https://docs.google.com/spreadsheets/d/1wC3Is10HYfx4HUC4sVWZM2tW3__L7i_AnD2pxNmy0E4/edit#gid=0", target="_blank", rel="noopener noreferrer") автодеплой 
              span Убедитесь что вы правильно указали ссылку на ваш репозиторий. И как только напротив вашей строкки появляется надпись готово - всё готово. Ваша работа будет доступна в этой галерее и по соответствующей ссылке. 
              button.btn.btn-light(type="button", data-toggle="popover", data-title="Внимание", data-content="Интервал перекладки составляет около 10 минут.", data-placement="top") !

        - var s1 = { id: 1, name: "Aleksander Erashov",	rep: "https://github.com/AleksErv/cinema.git",	link: "/AleksErv" }
        - var s2 = { id: 2, name: "Aleksei Sirotiuk", rep:	"https://github.com/peso47/cinema.git", link: "/peso47" }
        - var s3 = { id: 3, name: "Alexander Rogozhnikov", rep:	"https://github.com/Alex-J21/cinema.git", link: "/alexj21" }
        - var s4 = { id: 4, name: "Almira Tolstova", rep:	"https://github.com/AlmiraTolstova/cinema.git", link: "/almira" }
        - var s5 = { id: 5, name: "Elina Khabibulina", rep:	"https://github.com/Elinalis/cinema.git", link: "/elina" }
        - var s6 = { id: 6, name: "Evgeniy Krivtsov", rep:	"https://github.com/MF-Rumata/cinema.git", link: "/rumata" }
        - var s7 = { id: 7, name: "Gulnaz Sakhapova", rep:	"https://github.com/GulnazaS/Cinema.git", link: "/gulnaz" }
        - var s8 = { id: 8, name: "Halim Latypov", rep:	"https://github.com/LatHalim/cinema.git", link: "/halim" }
        - var s9 = { id: 9, name: "Ignat Simonenko", rep:	"https://github.com/IgnatSimonenko/innopolis.git", link: "/ig" }
        - var s10 = { id: 10, name: "Mark Smagin", rep:	"https://github.com/MarkSmagin/cinema.git", link: "/dwolf" }
        - var s11 = { id: 11, name: "Pavel Trapeznikov", rep:	"https://github.com/thetrapeznikov/cinema.git", link: "/thetrapeznikov" }
        - var s12 = { id: 12, name: "Roman Buzmakov", rep:	"https://github.com/Romyl1990/cinema.git", link: "/romyl1990" }
        - var s13 = { id: 13, name: "Rustam Safiullin", rep:	"https://github.com/RustamStudy/WEB.git", link: "/rustam" }
        - var s14 = { id: 14, name: "Timofey Kataev", rep:	"https://github.com/Tkataev/Tkatae.git", link: "/tim23" }
        - var s15 = { id: 15, name: "Violetta Dubskaya", rep:	"https://github.com/ViolettaDO/cinema.git", link: "/vita22" }
        - var s16 = { id: 16, name: "Yuliya Suetnova", rep:	"https://github.com/juliyaAA/cinema.git", link: "/juliyaAA" }
        //- - var s17 = { id: 17, name: "Yuliya Slobozhanina", rep: "", link: "" }
        - var s18 = { id: 18, name: "Валерия Тихонова", rep:	"https://github.com/valeriya-tikhonova/cinema.git", link: "/valeriya_t" }
        - var s19 = { id: 19, name: "Рузиля Волкова", rep:	"https://github.com/Ruzylasha/Cinema_NEW.git", link: "/popcorn" }

      .row
        .col

      .row
        .col
          ul.accordion#students-works
            - var server = 'http://89.223.91.151:82'
            - var students = [s1, s2, s3, s4, s5, s6, s7, s8, s9, s10, s11, s12, s13, s14, s15, s16, /*s17,*/ s18, s19]
            each stud in students
              li.card
                .card-header( id='student-' + stud.id )
                  h2.mb-0
                    button.btn.btn-link.btn-block.text-left( type="button", data-toggle="collapse", data-target= '#body-' + stud.id, aria-expanded="false", aria-controls= 'body-' + stud.id)= stud.name
                .collapse( id='body-' + stud.id, aria-labelledby= 'student-' + stud.id, data-parent="#students-works" )
                  .card-body
                    a.btn.btn-primary.mb-4(href=server + stud.link, target="_blank", rel="noopener noreferrer") Перейти
                    .shadow.p-3.mb-5.bg-white.rounded
                      iframe.frame(src=server + stud.link, frameborder="0")

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    script(src="assets/main.js")
